/*
 * This file has the home component style settings.
 */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.movie-list{
    margin: 15px;
}

.movie-list article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
}

.movie-list strong{
    font-size: 20px;
    padding-bottom: 15px;
}

.movie-list img{
    max-height: 350px;
    width: 900px;
}

.movie-list a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    background-color: brown;
    width: 100%;
    height: 40px;
    margin-top: -30px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}